{{ if .Params.intro_image }}
<div class="intro-photo" style="position: relative;">
  <img
    alt="{{ .Title }}"
    class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
    src="{{ .Params.intro_image | relURL }}" 
    style="{{ if .Params.intro_image_absolute_offset }}inset: {{ .Params.intro_image_absolute_offset }};{{ end }}"
  />
  <div class="intro-text-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10;">
    <h1>Ihre KI auf Erfolgskurs</h1>
  </div>
</div>
{{ end }}
